@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(225, 100%, 98%);
	--clr-neutral-400: hsl(224, 23%, 55%);
	--clr-neutral-800: hsl(223, 47%, 23%);

	--clr-primary-200: hsl(225, 100%, 94%);
	--clr-primary-300: hsl(225, 83%, 68%);
	--clr-primary-400: hsl(245, 75%, 52%);

	--fw-400: 500;
	--fw-700: 700;
	--fw-900: 900;

	--fs-300: 0.87rem;
	--fs-400: clamp(0.87rem, 1vw, 1rem);
	--fs-700: clamp(1.5rem, 1.5vw, 1.75rem);

	--space-1: clamp(1rem, 2vw, 1.5rem);
	--space-2: clamp(2rem, 4vw, 3rem);

	--card-size: clamp(350px, 90vw, 450px);
}

body {
	font-family: 'Red Hat', sans-serif;
	font-size: var(--fs-400);
	font-weight: var(--fw-400);
	line-height: 1.6;
	color: var(--clr-neutral-400);
	background-color: var(--clr-primary-200);

	/* For demo only */
	display: grid;
	height: 100vh;
	place-items: center;
}

h1,
h2,
h3 {
	line-height: 1.1;
}

h2 {
	font-size: var(--fs-700);
	font-weight: var(--fw-900);
	color: var(--clr-neutral-800);
}

@media screen and (min-width: 970px) {
	body {
		/* background-color: transparent; */
		background-image: url('/images/pattern-background-desktop.svg');
		background-repeat: no-repeat;
		background-size: 100%;
	}
}
